* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
  }

h1 {
  text-align: center;
  margin-top: 40px;
}
  .jukebox {
    text-align: center;
    position: relative;

  }

.song-list {
  padding: 10px;
}
